#logo {
    max-height: 35vh;
}

nav {
    background-color: #3f6617;
}

#logo-mini {
    border-radius: 30px;
    padding: 1px;
    background-color: white;
}

h1, .h1 {
    color: #3f6617 !important;
    font-weight: lighter;
}

h2, .h2 {
    color: #f5abcc;
}

h3, .h3 {
    color: #afd134;
}

main {
    padding-top: 1rem;
}

section {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.green {
    color: #3f6617;
}

.soft-green {
    color: #afd134;
}

.pink {
    color: #f5abcc;
}

.purple {
    color: #723B78;
}

.border-purple {
    border-color: #723B78;
}

.strike {
    text-decoration: line-through;
}

small {
    font-size: .65em;
}

.bio-pics {
    float: left;
    width: 12rem;
    margin-right: 1rem;
}

.carousel-item {
    height: 35vh;
}

.carousel-background-image {
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.carousel-foreground-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

@media screen and (max-width: 576px){
    .bio-pics {
        float: none;
        display: block;
        margin: auto;
    }
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

h2[itemprop="name"]{ font-size:1.6em; }

/* Css for Address in Header */
  .address-header{
  vertical-align: middle; float: right; margin-top:20px; font-size: 16px; text-align: right;
  }
  .glyphicon{
    top: 2px;
    color: #3F6517;
  }
  .glyphicon:before{
    padding-right:6px;
  }
  .footer-menu li{
    list-style-type: none;
    padding: 6px;
    text-align: left;
    font-size: 16px;
  }
  .footer-address{
    font-size: 16px;
    line-height: 30px;
  }
  .footer-form input, .footer-form textarea{
    width:80%;
    padding: 8px;
    margin: 10px 0;
  }
  .footer-form input[type=submit]{
    width: 140px;
    background-color: #3F6517;
    color: #fff;
    border-radius: 18px;
  }
  footer {
    text-align: center;
  }
  footer h3{
    color: #3F6517;
  }